body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
html,
body {
    min-height: 100vh;
}

html {
    opacity: 0;
    transition: all 1s;
}

strong {
    font-weight: bold;
}
small {
    font-size: 80%;
}

.wrapper {
    width: 700px;
    padding: 0 20px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
}


/** Components */
.time {
    font-size: 120px;
    font-weight: 500;
}

.btn {
    cursor: pointer;
    background: none;
    border: 0;
    font-size: 80%;
    padding: 2px 5px;
    border-radius: 3px;
    outline: none;
}
.btn:hover {
    text-decoration: underline;
}
.btn.active {
    color: #fff;
    background: #4F78E2;
}

.positive {
    color: #61CA00;
}
.negative {
    color: #FF4949;
}

.chart-container {
    position: relative;
    height: 200px;
    width: 100%;
    margin-bottom: 20px;
}

.message {
    text-align: center;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}


 /*!
  * Load Awesome v1.1.0 (http://github.danielcardoso.net/load-awesome/)
  * {@link http://github.danielcardoso.net/load-awesome/animations/ball-pulse-sync.html}
  */
.la-ball-pulse-sync,
.la-ball-pulse-sync > div {
    position: relative;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}
.la-ball-pulse-sync {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -32px;
    margin-top: -30px; /* magic number */
    transition: all 1s;
    opacity: 0;
}
.la-ball-pulse-sync {
    display: block;
    font-size: 0;
    color: #fff;
}
.la-ball-pulse-sync.la-dark {
    color: #333;
}
.la-ball-pulse-sync > div {
    display: inline-block;
    float: none;
    background-color: #fff;
    border: 3px solid #4F78E2;
}
.la-ball-pulse-sync {
    width: 64px;
    height: 18px;
}
.la-ball-pulse-sync > div {
    width: 13px;
    height: 13px;
    margin: 3px;
    border-radius: 100%;
    -webkit-animation: ball-pulse-sync .6s infinite ease-in-out;
       -moz-animation: ball-pulse-sync .6s infinite ease-in-out;
         -o-animation: ball-pulse-sync .6s infinite ease-in-out;
            animation: ball-pulse-sync .6s infinite ease-in-out;
}
.la-ball-pulse-sync > div:nth-child(1) {
    -webkit-animation-delay: -.14s;
       -moz-animation-delay: -.14s;
         -o-animation-delay: -.14s;
            animation-delay: -.14s;
}
.la-ball-pulse-sync > div:nth-child(2) {
    -webkit-animation-delay: -.07s;
       -moz-animation-delay: -.07s;
         -o-animation-delay: -.07s;
            animation-delay: -.07s;
}
.la-ball-pulse-sync > div:nth-child(3) {
    -webkit-animation-delay: 0s;
       -moz-animation-delay: 0s;
         -o-animation-delay: 0s;
            animation-delay: 0s;
}
.la-ball-pulse-sync.la-sm {
    width: 26px;
    height: 8px;
}
.la-ball-pulse-sync.la-sm > div {
    width: 4px;
    height: 4px;
    margin: 2px;
}
.la-ball-pulse-sync.la-2x {
    width: 108px;
    height: 36px;
}
.la-ball-pulse-sync.la-2x > div {
    width: 20px;
    height: 20px;
    margin: 8px;
}
.la-ball-pulse-sync.la-3x {
    width: 162px;
    height: 54px;
}
.la-ball-pulse-sync.la-3x > div {
    width: 30px;
    height: 30px;
    margin: 12px;
}
/*
 * Animation
 */
@-webkit-keyframes ball-pulse-sync {
    33% {
        -webkit-transform: translateY(100%);
                transform: translateY(100%);
    }
    66% {
        -webkit-transform: translateY(-100%);
                transform: translateY(-100%);
    }
    100% {
        -webkit-transform: translateY(0);
                transform: translateY(0);
    }
}
@-moz-keyframes ball-pulse-sync {
    33% {
        -moz-transform: translateY(100%);
             transform: translateY(100%);
    }
    66% {
        -moz-transform: translateY(-100%);
             transform: translateY(-100%);
    }
    100% {
        -moz-transform: translateY(0);
             transform: translateY(0);
    }
}
@-o-keyframes ball-pulse-sync {
    33% {
        -o-transform: translateY(100%);
           transform: translateY(100%);
    }
    66% {
        -o-transform: translateY(-100%);
           transform: translateY(-100%);
    }
    100% {
        -o-transform: translateY(0);
           transform: translateY(0);
    }
}
@keyframes ball-pulse-sync {
    33% {
        -webkit-transform: translateY(100%);
           -moz-transform: translateY(100%);
             -o-transform: translateY(100%);
                transform: translateY(100%);
    }
    66% {
        -webkit-transform: translateY(-100%);
           -moz-transform: translateY(-100%);
             -o-transform: translateY(-100%);
                transform: translateY(-100%);
    }
    100% {
        -webkit-transform: translateY(0);
           -moz-transform: translateY(0);
             -o-transform: translateY(0);
                transform: translateY(0);
    }
}


/* Utilities */
.text-center {
    text-align: center !important;
}

.fade-in {
    opacity: 1 !important;
}

.center-block {
    margin-left: auto !important;
    margin-right: auto !important;
}

.mb { margin-bottom: 15px; }
.mb\+ { margin-bottom: 30px; }
.mb\+\+ { margin-bottom: 50px; }

.mt { margin-top: 15px; }
.mt\+ { margin-top: 30px; }
.mt\+\+ { margin-top: 50px; }
