body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

strong {
    font-weight: bold;
}
small {
    font-size: 80%;
}

.wrapper {
    width: 700px;
    padding: 0 20px;
}


/** Components */
.time {
    font-size: 120px;
    font-weight: 500;
}

.btn {
    cursor: pointer;
    background: none;
    border: 0;
    font-size: 80%;
    padding: 2px 5px;
    border-radius: 3px;
    outline: none;
}
.btn:hover {
    text-decoration: underline;
}
.btn.active {
    color: #fff;
    background: #4F78E2;
}

.positive {
    color: #61CA00;
}
.negative {
    color: #FF4949;
}


/* Utilities */
.text-center {
    text-align: center !important;
}
.center-block {
    margin-left: auto !important;
    margin-right: auto !important;
}


.mb { margin-bottom: 15px; }
.mb\+ { margin-bottom: 30px; }
.mb\+\+ { margin-bottom: 50px; }

.mt { margin-top: 15px; }
.mt\+ { margin-top: 30px; }
.mt\+\+ { margin-top: 50px; }
