/* Light Theme (default) */
:root {
    --theme-color: #000;
    --background-color: #ffffff;
    --text-color: #333333;
    --text-color-secondary: #555;
    --border-color: #dddddd;
    --btn-background: #4f78e2;
    --btn-active-color: #ffffff;
    --toggle-bg: #e0e0e0;
    --toggle-active-color: #333333;
    --toggle-inactive-color: #888888;
    --toggle-indicator-bg: #ffffff;
    --positive-color: #61ca00;
    --negative-color: #ff4949;
    --input-bg: #f9f9f9;
    --input-border-color: #ddd;
    --tooltip-bg: rgba(79, 120, 226, 0.85);
    --tooltip-text-color: #ffffff;
}

/* Dark Theme */
body.dark-theme {
    --theme-color: #fff;
    --background-color: #121212;
    --text-color: #f5f5f5;
    --text-color-secondary: #aaa;
    --border-color: #444444;
    --btn-background: #61ca00;
    --btn-active-color: #121212;
    --toggle-bg: #333333;
    --toggle-active-color: #ffffff;
    --toggle-inactive-color: #bbbbbb;
    --toggle-indicator-bg: #444444;
    --positive-color: #61ca00;
    --negative-color: #ff4949;
    --input-bg: #333333;
    --input-border-color: #555555;
    --tooltip-bg: rgba(44, 44, 44, 0.9);
    --tooltip-text-color: #f5f5f5;
}
